[Unit]
Description=hciscan notification

[Service]
Environment=ENDPOINT=http://nodered.home.lan/smarthome/ble
PIDFile=/var/run/hciscan.pid
User=root
Group=root
WorkingDirectory=/tmp
ExecStart=/usr/local/sbin/hciscan
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
